<%= content_for :title, "Assessments ##{@assessment.id}" %>
<%= turbo_stream_from @assessment %>

<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <h1 class="h3">
      <%= link_to "Assessments", assessments_path, class: "text-black" %>
      <span class="text-gray-400 font-light mx-2">\</span>
      Assessment #<%= @assessment.id %>
    </h1>
    <%= link_to t("edit"), edit_assessment_path(@assessment), class: "btn btn-white" %>
  </div>

  <div class="p-8 bg-white rounded shadow">
    <%= render @assessment %>
  </div>
</div>
