<%= content_for :title, "#{@cohort.cohort_name} #{@cohort.year}" %>
<%= turbo_stream_from @cohort %>


<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <h1 class="h3">
      <%= @cohort.cohort_name %>
      <%= @cohort.year%>
    </h1>
    <%= link_to "Edit Cohort", edit_cohort_path(@cohort), class: "btn btn-primary" %>
  </div>
  <%= link_to "Back to cohorts", cohorts_path %>


  
  
  <div class="p-8 bg-white rounded shadow">
    <div class="text-2xl"> Students </div>
    <table class="border-separate border-spacing-x-10 text-center">
      <thead>
        <th> <%= sortable @cohort, :pref_name, "Name", class: "text-gray-700 mr-1" %></th>
        <th> <%= sortable @cohort, :absences, "Absences", class: "text-gray-700 mr-1" %></th>
      </thead>
      <tbody>
        <% @students.map do |student|%>
          <tr>
            <td> <%= link_to student.pref_name, edit_student_path(student)  %> </td>
            <td> <%= student.absences  %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
