<%= content_for :title, "#{@cohort.cohort_name} #{@cohort.year}" %>
<%= turbo_stream_from @cohort %>

<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <h1 class="h3">
      <%= link_to "Cohorts", cohorts_path, class: "text-black" %>
      <span class="text-gray-400 font-light mx-2">\</span>
      <%= @cohort.cohort_name %>
      <span class="text-gray-400 font-light mx-2">\</span>
      <%= @cohort.year%>
    </h1>
    <div>
      <%= form_with url: import_students_path, method: :post, multipart: true do |form| %>
        <label class="btn btn-primary">
        Select File
        <%= form.file_field :file, accept: ".csv", class: "hidden" %>
        </label>
        <%= form.hidden_field :current_cohort_id, value: @cohort.id %>
        <%= form.button t("import_student_csv"), class: "btn btn-primary" %>
        <%= link_to t("edit"), edit_cohort_path(@cohort), class: "btn btn-white" %>
      <% end %>
    </div>
  </div>
  <div class="p-8 bg-white rounded shadow">
    <div class="text-2xl"> Students </div>
    <% Student.where(cohort_id: @cohort.id).map do |student|%>
      <div> <%= student.pref_name  %> </div>
      <div> <%= link_to "View", student, class: "btn btn-white" %> </div>
    <% end %>
  </div>
</div>
