<%= content_for :title, "Students" %>
<%= turbo_stream_from :students %>

<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <div>
      <h1 class="h3">Students </h1>
    </div>

    <%= link_to t("shared.scaffold.new.title", model: "Student"), new_student_path, class: "btn btn-primary" %>
  </div>

  <%= tag.div id: ("students" if first_page?), class: "bg-white rounded-md shadow p-6 space-y-8 border-2" do %>
  <table class="items-start table-fixed border-separate border-spacing-x-5 text-center">
    <thead >
      <tr>
        <th class=" min-w-[10vw]"><%= sortable @students, :pref_name, "Name", class: "text-xl text-gray-700 mr-1" %></th>
        <th class=" min-w-[10vw]"><%= sortable @students, :cohort_name, "Cohort", class: "text-xl text-gray-700 mr-1" %></th>
        <th class=" min-w-[10vw]"><%= sortable @students, :absences, "Absences", class: "text-xl text-gray-700 mr-1" %></th>
      </tr>
    </thead>
    <tbody>
    <%= render partial: "students/index", collection: @students, as: :student, cached: true %>
    </tbody>
  </table>
    <div class="hidden only:flex flex-col items-center justify-between lg:flex-row">
      <div class="flex-1 text-center">
        <p class="mb-4 h3">Create your first Student</p>
        <%= link_to t("shared.scaffold.new.title", model: "Student"), new_student_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <% if @pagy.pages > 1 %>
    <div class="my-6 text-center">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>
</div>
