<%= content_for :title, "#{@student.pref_name}, #{@student.cohort.cohort_name} #{@student.cohort.year}" %>
<%= turbo_stream_from @student %>

<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <h1 class="h3">
      <%= link_to "Students", students_path, class: "text-black" %>
      <span class="text-gray-400 font-light mx-2">\</span>
      <%= @student.pref_name %>
    </h1>
    <%= link_to t("edit"), edit_student_path(@student), class: "btn btn-white" %>
  </div>

  <div class="p-8 bg-white rounded shadow">
    <%= render @student %>
  </div>
</div>
