<%= content_for :title, "#{@student.pref_name}, #{@student.cohort.cohort_name} #{@student.cohort.year}" %>
<%= turbo_stream_from @student %>

<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <h1 class="h3">
      Student Info
    </h1>
    <%= link_to "Edit Student", edit_student_path(@student), class: "btn btn-primary" %>
  </div>
  <%= link_to "Back to students", students_path %>

  <div class="p-8 bg-white rounded shadow">
    <div> Name: <%= @student.pref_name %> </div>
    <div> Cohort: <%= @student.cohort.cohort_name %> <%= @student.cohort.year%> </div>
    <div> Absences: <%= @student.absences %> </div>

    
  </div>
</div>
